# Configuration EmailJS
# Créez un compte sur https://www.emailjs.com/
# Ensuite, créez un service email et un template
# Les valeurs ci-dessous sont des exemples

VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
